*.~
*.a
*.cmd
*.d
*.gcda
*.gcno
*.kdev4
*.ko
*.log
*.o
*.obj
*.pyc
*.so
*.so.*
*.swp
*.tmp
*.exe
*.pdb
*.lib
*.ipch
*.tlog
*.bsc
*.sbr
*.suo
*.user
CUnit-Memory-Dump.xml
.vs/
x64/
build/
build-tmp/
UpgradeLog.htm
